
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://www.op.org/sites/www.op.org/files/logo.jpg" type="image/jpeg" />

    <title>中華道明會</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    
  </head>
<!-- NAVBAR
================================================== -->
  <body>
   <div class="navbar-wrapper ">
      <div class="container">

                <nav class="navbar navbar-inverse navbar-static-top marginBottom-0" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">ORDER OF PREACHERS
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <form action="##" class="navbar-form navbar-left" rol="search">
   	                <div class="form-group">
   		              <input type="text" class="form-control" placeholder="輸入關鍵字" />
   	                </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
         </div>
<div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">首頁</a></li>
                    <li ><a href="pages1.html?id=13">禧年資訊 </a>
                    </li>    
                    
                    <li ><a href="pages2.html?id=141">歷史與介紹</a>
                    </li>           
                    
                    <li ><a href="pages3.html?id=366">精神 </a>
                    </li>  
                    
                    <li ><a href="pages1.html">泉源</a>
                    </li>  
                
                    <li ><a href="pages5.html?id=555">道明之家</a>
                    </li>  
                    
                     <li ><a href="pages6.html">玫瑰經 </a>
                    </li> 
                    
                     <li ><a href="pages1.html">聖人及真福 </a>
                    </li>
                   
                    
                    <li ><a href="pages1.html">台灣及世界 </a>
                    </li>
                    
                    <li ><a href="pages1.html">聖經查詢軟體  </a>
                    </li>
                    
                     <li ><a href="pages1.html">神學大全線上查詢軟體</a>
                    </li>
                
                </ul>
</div>
            </div>
         </div>
        </nav>
        </div>  
      </div>

  <!-----------------------------------------------中間內容 by 4c------------------------------------------------>
      <div class="container ">
          <textarea id="mdBox" style="visibility:hidden">
            
          </textarea>
      <div class="row">
          <div class="col-md-9" id="htmlBox">
           
	  
       </div>
       <div class="col-md-3" > 
           <a href="pages81.html"> [道明會的歷史]</a> <br/>
            <a href="pages82.html">[台灣道明會的歷史]  </a> <br/>
            <a href="pages83.html"> [道明會在中國] </a> <br/>
           <a href="pages84.html">[道明會士在世界]</a><br/>
         
           
           
       </div>
      </div>
  <!-----------------------------------------------中間內容 by 4c------------------------------------------------>
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy;  Ordo Praedicatorum 2016. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        
       <ul class="soc">
    <li><a class="soc-facebook" href="https://www.facebook.com/ordopraedicatorum"></a></li>
    <li><a class="soc-twitter" href="https://twitter.com/Dominican_Order"></a></li>
    <li><a class="soc-youtube" href="https://www.youtube.com/user/OrderOfPreachers"></a></li>
    <li><a class="soc-flickr soc-icon-last" href="https://www.flickr.com/photos/orderofpreachers"></a></li>
</ul>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="
https://cdnjs.cloudflare.com/ajax/libs/showdown/1.5.0/showdown.js"></script>
    <script>
var load=function(path) {
  if (!path.startsWith("/")) path="/"+path;
  return $.ajax({
    type: "GET",
    url: "/file"+path,
    timeout: this.timeout,
    data: {}
  });    
}

var loadFile = function(path) {
  load(path).done(function(content) {
    var md;
    if (typeof content === 'string')
        md = content;
    else
        md = JSON.stringify(content, null, ' ');
    $('#mdBox').val(md);
    var html = converter.makeHtml(md);
    $('#htmlBox').html(html);

  })
  .fail(function() {
    $('#mdBox').val("error!");
  });
}

window.onhashchange = function() {
  var filepath = window.location.hash.substring(1);
  loadFile(filepath);
}

var converter = new showdown.Converter();
converter.setOption('tables', true);
// var md = $('#mdBox').val();
name=location.search;
        str=name.substr(4)
if(str=="  ")loadFile("   ");
else if(str=="91")loadFile("r91.md");
else if(str=="92")loadFile("r92.md");
else if(str=="93")loadFile("r93.md");
else if(str=="94")loadFile("r94.md");
else if(str=="95")loadFile("r95.md");
else if(str=="96")loadFile("r96.md");
else if(str=="97")loadFile("r97.md");
else if(str=="98")loadFile("r98.md");
else if(str=="99")loadFile("r99.md");
else if(str=="100")loadFile("r100.md");
else if(str=="101")loadFile("r101.md");
else if(str=="102")loadFile("r102.md");        
else if(str=="103")loadFile("r103.md");   
else if(str=="104")loadFile("r104.md");
else if(str=="105")loadFile("r105.md");
else if(str=="106")loadFile("r106.md");
else if(str=="107")loadFile("r107.md");
else if(str=="108")loadFile("r108.md");
else if(str=="109")loadFile("r109.md");
else if(str=="110")loadFile("r110.md");
else if(str=="111")loadFile("r111.md");
else if(str=="112")loadFile("r112.md");
else if(str=="113")loadFile("r113.md");
else if(str=="114")loadFile("r114.md");
else if(str=="115")loadFile("r115.md");
else if(str=="116")loadFile("r116.md");
else if(str=="117")loadFile("r117.md");
else if(str=="118")loadFile("r118.md");
else if(str=="119")loadFile("r119.md");

        
</script>
  </body>
</hmtl>

