
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://www.op.org/sites/www.op.org/files/logo.jpg" type="image/jpeg" />

    <title>中華道明會</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">ORDER OF PREACHERS</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#">首頁</a></li>
                    <li ><a href="pages1.html">禧年資訊 </a>
                    </li>    
                    
                    <li ><a href="pages1.html">歷史與介紹</a>
                    </li>  
                    
                    <li ><a href="pages1.html">精神 </a>
                    </li>  
                    
                    <li ><a href="pages1.html">泉源</a>
                    </li>  
                
                    <li ><a href="pages1.html">道明之家</a>
                    </li>  
                    
                     <li ><a href="pages1.html">玫瑰經 </a>
                    </li> 
                    
                     <li ><a href="pages1.html">聖人及真福 </a>
                    </li>
                   
                    
                    <li ><a href="pages1.html">台灣及世界 </a>
                    </li>
                    
                    <li ><a href="pages1.html">聖經查詢軟體  </a>
                    </li>
                    
                     <li ><a href="pages1.html">神學大全線上查詢軟體</a>
                    </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


  <!-----------------------------------------------中間內容 by 4c------------------------------------------------>
      <div class="container ">
          <textarea id="mdBox" style="visibility:hidden">
#hello
##hello
###hello              
          </textarea>
      <div class="row">
       <div class="col-md-9" id="htmlBox">
	    {%=html%}
       </div>
       <div class="col-md-3" style="background-color: gray">
	       <div class="row" style="background-color: gray">
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		       <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
	       </div>
       </div>
      </div>
  <!-----------------------------------------------中間內容 by 4c------------------------------------------------>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy;  Ordo Praedicatorum 2016. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        
       <ul class="soc">
    <li><a class="soc-facebook" href="https://www.facebook.com/ordopraedicatorum"></a></li>
    <li><a class="soc-twitter" href="https://twitter.com/Dominican_Order"></a></li>
    <li><a class="soc-youtube" href="https://www.youtube.com/user/OrderOfPreachers"></a></li>
    <li><a class="soc-flickr soc-icon-last" href="https://www.flickr.com/photos/orderofpreachers"></a></li>
</ul>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="
https://cdnjs.cloudflare.com/ajax/libs/showdown/1.5.0/showdown.js"></script>
    <script>
var load=function(path) {
  if (!path.startsWith("/")) path="/"+path;
  return $.ajax({
    type: "GET",
    url: "/file"+path,
    timeout: this.timeout,
    data: {}
  });    
}

var loadFile = function(path)
  .done(function(content) {
    var editText;
    if (typeof content === 'string')
        editText = content;
    else
        editText = JSON.stringify(content, null, ' ');
    $('#mdBox').val(editText);
    var html = converter.makeHtml(md);
    $('#htmlBox').html(html);

  })
  .fail(function() {
    $('#mdBox').val("error!");
  });

var converter = new showdown.Converter();
converter.setOption('tables', true);
// var md = $('#mdBox').val();
loadFile("1.md");
    </script>
  </body>
</html>
